@model RealEstate.Models.Property
@{
    ViewBag.Title = "ShowPropertyDetails";
    ViewBag.ShowSL = "T";
}

<div id="mainBody">
    <div class="container">
        <div class="row">

            <div class="well">


                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Pic, new { @class = "control-label col-sm-2" })
                    </div>
                    <div>

                        <img src="@Url.Content("~/Files/"+Model.Pic)" alt="image" />

                    </div>
                </div>



                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Country, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country", @readonly = "readonly" })

                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.State, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State", @readonly = "readonly" })
                        

                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.City, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City", @readonly = "readonly" })
                        

                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Address, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address", @readonly = "readonly" })
                        

                    </div>
                </div>



                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                       

                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Contact, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", @placeholder = "Contact", @readonly = "readonly" })
                       

                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Price", @readonly = "readonly" })
                        

                    </div>
                </div>



                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Type, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @placeholder = "Type", @readonly = "readonly" })
                        

                    </div>
                </div>



                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Size, new { @class = "control-label col-sm-2" })
                    </div>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.Size, new { @class = "form-control", @placeholder = "Size", @readonly = "readonly" })
                        

                    </div>
                </div>




                <div class="control-group">
                    <div class="controls">

                        <a href="@Url.Action("ReportAdmin", "Home", new { pid = Model.Id })" role="button" data-toggle="modal"><span class="btn btn-large btn-success">Report To Admin</span></a>


                    </div>
                </div>




            </div>


        </div>
    </div>
</div>
