@model RealEstate.Models.User
@{
    ViewBag.Title = "Signup";
    ViewBag.ShowSL = "T";
}

    <div id="mainBody" style="margin-left:30px;">
        <div class="container">
            <div class="row">
                <h3> View/Edit Profile</h3>
                <div class="well">
                    @using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {

                        <fieldset>
                            <legend>Register</legend>
                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                                    @Html.ValidationMessageFor(model => model.Name)

                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @onblur = "checkUsernameAvailibility();" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                    <div id="usernameAvailibility"></div>

                                    </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Pass, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Pass, new { type = "password", @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Pass)

                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Pic, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Pic, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Pic)

                                    @ViewData["Error"]


                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Question, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Question, new { @class = "form-control", @placeholder = "Secret Question" })
                                    @Html.ValidationMessageFor(model => model.Question)

                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Answer, new { @class = "control-label col-sm-2" })
                                </div>
                                <div class="controls">

                                    @Html.TextBoxFor(model => model.Answer, new { @class = "form-control", @placeholder = "Answer For Secret Question" })
                                    @Html.ValidationMessageFor(model => model.Answer)

                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>

            </div>
        </div>
    </div>

<script>


        function checkUsernameAvailibility()
        {
            var Email = document.getElementById("Email").value;
            if (Email.length == 0)
            {
                $('#usernameAvailibility').text("Please Enter Email");
                return;
            }

            $.getJSON("/home/CheckUsernameAvailibility?Username=" + Email, function (data) {
                if (data) {
                    $('#usernameAvailibility').text("Username is not available.");
                    $('#submit').prop('disabled', true);
                }
                else {
                    $('#usernameAvailibility').text("Username is available. ");
                    $('#submit').prop('disabled', false);
                }
            });
        }

</script>

<!-- MainBody End ============================= -->

